.form {
    position: relative;

    .bi-search {
        position: absolute;
        top:17px;
        left: 20px;
    }

    .bi-x-lg {
        cursor: pointer;
    }

    span {
        position: absolute;
        right: 17px;
        top: 13px;
        padding: 2px;
    }

    .left-pan {
        padding-left: 7px;
    }

    .left-pan i {
        padding-left: 10px;
    }

    .form-input {
        height: 55px;
        border-radius: 10px;
        padding-left: 45px;
        padding-right: 45px;
    }

    .form-input:focus {
        box-shadow: none;
        border:none;
    }

}