.main {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    // background-color: #121212;
    // background-image: url('../uploads/test1.jpg');
    // background-size: cover;
}