/* You can add global styles to this file */

html,
body {
  height: 100%; 
}

 body[data-bs-theme="dark"] {
  background-color: #121212;
}

body[data-bs-theme="light"] {
  background-color: #f3f3f3;
}
