@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

label.btn {
    border-radius: 0;

    &.is-first {
        border-top-left-radius: $btn-border-radius;
        border-bottom-left-radius: $btn-border-radius;
    }

    &.is-last {
        border-top-right-radius: $btn-border-radius;
        border-bottom-right-radius: $btn-border-radius;         
    }
}